<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragment Container</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="header">
    <header>
        <h1>Wear Again</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/items}">Items</a></li>
                <!-- Altri link di navigazione se necessario -->
            </ul>
        </nav>
    </header>
</div>

<div th:fragment="footer">
    <footer>
        <p>&copy; 2024 Wear Again. All rights reserved.</p>
    </footer>
</div>
</body>
</html>