@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    font-family: 'Open+Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 0.8em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-icon, .logout-icon {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-icon {
    font-size: 1.2em;
}


.items-container {
    padding: 0;
    margin: 20px auto 0;
    max-width: 1200px;
}

.single-item-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.single-item-container, .items-container {
    width: 90%;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    position: relative;
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
}

.single-item {
    text-align: center;
    background-color: #fff;
}

.item, .single-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.item-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 350px;
}

.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    text-align: center;
}

.item-price, .item-type-and-brand {
    color: #e44d26;
    font-weight: bold;
    display: block;
}

.item-link {
    text-decoration: none;
}

.item-description {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.profile-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form#profileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form#profileForm label {
    margin-bottom: 5px;
}

form#profileForm input[type="text"],
form#profileForm input[type="email"],
form#profileForm input[type="date"],
form#profileForm input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button#updateProfileButton {
    background-color: #2f4f4f;
    color: #f5f5dc;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#updateProfileButton:hover {
    background-color: #2f4f4f;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0, 0.4);
}

.modal-dialog {
    position: relative;
    margin: 10% auto;
    width: auto;
    max-width: 300px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
}

.modal-title {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
    background-color: transparent;
    border: none;
    padding-bottom: 0;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
}

.modal-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: beige;
    text-decoration: none;
    transition: background-color 0.2s;
}

.modal-link:hover,
.modal-link:focus {
    background-color: #0056b3;
    color: beige;
    text-decoration: none;
}

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.register-table {
    width: 100%;
}

.register-label {
    display: block;
    margin: 0.5rem 0;
}

.register-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.register-submit {
    width: 100%;
    padding: 0.7rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-submit:hover {
    background-color: #0056b3;
}


.error-message {
    color: red;
    text-align: center;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-error, .logout-message {
    color: red;
    margin-bottom: 10px;
}

.form-login-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.form-login-group label {
    display: block;
    margin-bottom: 5px;
}

.form-login-group input[type="text"],
.form-login-group input[type="password"] {
    width: calc(100% - 0.8rem);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-login-group input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-login-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.input-login-text,
.input-login-password,
.input-login-submit,
.login-label {
    width: 100%;
    max-width: 350px;
}

.login-label {
    align-self: flex-start;
}

.input-login-text,
.input-login-password {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-login-submit {
    width: 100%;
    padding: 0.7rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.input-login-submit:hover {
    background-color: #0056b3;
}

.oauth-link {
    display: block;
    text-align: center;
    margin: 1rem 0;
    color: #007bff;
    text-decoration: none;
}

.home-page-main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    margin: 40px auto;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.home-page-main-content .text-section {
    width: 80%;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
}

.home-page-main-content p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1em;
}

.home-page-main-content h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.fa-paw {
    margin-right: 10px;
    color: #333;
}

.image-container {
    width: 20%;
    align-self: center;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    border-radius: 0.5rem;
}

.sales-history-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.sales-history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sales-history th, .sales-history td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.sales-history th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

.sales-history tr:hover {
    background-color: #f1f1f1;
}

.sales-history td a {
    text-decoration: none;
    color: #e44d26;
    font-weight: bold;
    transition: color 0.3s;
}

.sales-history td a:hover {
    color: #333;
}


@media (max-width: 768px) {
    .sales-history-container {
        width: 90%;
        margin: 20px auto;
    }

    .sales-history, .sales-history thead, .sales-history tbody, .sales-history th, .sales-history td, .sales-history tr {
        display: block;
    }

    .sales-history thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .sales-history tr { border: 1px solid #ccc; }

    .sales-history td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .sales-history td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .sales-history td:nth-of-type(1):before { content: "ID"; }
    .sales-history td:nth-of-type(2):before { content: "Brand"; }
    .sales-history td:nth-of-type(3):before { content: "Type"; }
    .sales-history td:nth-of-type(4):before { content: "Price"; }
    .sales-history td:nth-of-type(5):before { content: "Details"; }
}

.sale-details-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sale-item-details {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale-details-heading {
    color: #e44d26;
    margin-bottom: 10px;
}

.sale-details-text {
    color: #666;
    line-height: 1.6;
}

.sale-details-item-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.add-to-sale {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.add-to-sale:hover {
    background-color: #45a049;
}
