<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Item Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>
    <div class="modal" id="addSaleModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Attention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <a href="/register" class="modal-link">Don't have a profile yet? Make it!</a>
            <a href="/login" class="modal-link">Already have a profile? Log In!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="single-item-container">
      <div class="single-item">
        <div class="item-image">
          <img th:src="@{'/img/items/' + ${item.id} + '-image.webp'}" alt="Item Image" />
        </div>
        <div class="item-details">
          <h2 class="item-type-and-brand" th:text="${item.brand} + ' ' + ${item.type}">Brand - Type</h2>
          <span class="item-price" th:text="${item.price} + ' €'">Price</span>
          <p class="item-description">
            <span th:if="${item.type} == 'Sneakers'">Comfortable and stylish sneakers perfect for everyday wear.</span>
            <span th:if="${item.type} == 'Sweater'">A cozy sweater to keep you warm during the colder months.</span>
            <span th:if="${item.type} == 'Swimsuit'">A trendy swimsuit for your summer beach days.</span>
            <span th:if="${item.type} == 'Jeans'">Classic jeans that pair well with any outfit.</span>
            <span th:if="${item.type} == 'T-shirt'">A casual t-shirt that's a staple in any wardrobe.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="item-sale-details">
      <button class="add-to-sale" th:data-item-id="${item.id}">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
    <div th:replace="~{fragments/fragments :: footer}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/addSale.js}"></script>
    <script src="https://kit.fontawesome.com/49e07ab8ca.js" crossorigin="anonymous"></script>
  </body>
</html>