<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Items</title>
      <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
      <div th:replace="~{fragments/fragments :: header}"></div>
      <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}">Error Message</p>
      </div>
      <div class="items-container">
        <ul class="item-wrapper">
          <li th:each="item : ${items}" class="item">
            <a th:href="@{'/items/' + ${item.id}}" class="item-link">
              <div class="item-image">
                <img th:src="@{'/img/items/' + ${item.id} + '-image.webp'}" alt="Item Image" />
              </div>
              <div class="item-details">
                  <h3 class="item-type-and-brand" th:text="${item.brand} + ' ' + ${item.type}">Brand - Type</h3>
                  <span class="item-price" th:text="${item.price} + ' €'">Price</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div th:replace="~{fragments/fragments :: footer}"></div>
      <script src="https://kit.fontawesome.com/49e07ab8ca.js" crossorigin="anonymous"></script>
    </body>
</html>