<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <div th:if="${param.error}" class="login-error">
      <p>Invalid credentials or OAuth2 error</p>
    </div>
    <div th:if="${param.logout}" class="logout-message">
      <p>You have been logged out.</p>
    </div>
    <div>
      <a href="/oauth2/authorization/google" class="oauth-link">Login with Google</a>
    </div>
    <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" class="login-error">
      <p>Invalid credentials</p>
    </div>
    <form th:action="@{/login}" method="post" class="form-login-group">
      <table>
        <tr>
          <td><label for="username" class="login-label">Username:</label></td>
          <td><input type="text" id="username" name="username" class="login-input-text" /></td>
        </tr>
        <tr>
          <td><label for="password" class="login-label">Password:</label></td>
          <td><input type="password" id="password" name="password" class="login-input-password" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Login" class="login-input-submit" /></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>