<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div th:if="${param.error}">
            <p>Invalid credentials or OAuth2 error</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <div>
            <a href="/oauth2/authorization/google">Login with Google</a>
        </div>
    </body>
</html>